.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #707070;
  background-color: #fff;
  font-family: GenosGFG, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

h1 {
  color: #002d67;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
}

h2 {
  color: #002d67;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  color: #002d67;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

h4 {
  color: #002d67;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

a {
  color: #f60;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s;
}

a:hover {
  color: #0066b3;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 13px;
}

li {
  margin-bottom: 0;
}

.orange {
  color: #f60;
}

.header {
  z-index: 2000;
  height: 6.15385em;
  background-color: #fff;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

.container {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.container.overflow-hidden {
  overflow: hidden;
}

.container.hidden {
  display: none;
}

.container.save {
  margin-top: 50px;
}

.vr-logo {
  width: 217px;
  float: left;
  margin-top: 25px;
}

.bwgv-logo {
  width: 102px;
  float: right;
  margin-top: 25px;
}

.hero {
  height: 600px;
  background-image: url('../images/schreage.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  position: relative;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 380px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.button {
  width: 100%;
  cursor: pointer;
  background-color: #f60;
  margin-left: auto;
  margin-right: auto;
  padding: 17px 24px 15px;
  font-family: Frutigervr;
  font-weight: 700;
  transition: background-color .2s;
  display: block;
}

.button:hover {
  background-color: #ce3c03;
}

.vr-mittelstndstag-2021-logo {
  max-width: 600px;
  position: absolute;
  top: auto;
  bottom: -15%;
  left: 13.5%;
  right: 0%;
}

.section {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section.grey {
  background-color: #e9e9e9;
}

.section.blue {
  background-color: #0066b3;
}

.section.blue.hide {
  display: block;
}

.center-text {
  text-align: center;
}

.footer {
  color: #fff;
  background-color: #0066b3;
  border-top: 1px solid #e9e9e9;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 12px;
}

.copyright {
  float: left;
}

.footer-link {
  float: left;
  color: #fff;
  cursor: pointer;
  border-left: 1px solid #fff;
  margin-left: 15px;
  padding-left: 15px;
  text-decoration: none;
  display: block;
}

.logo-psw {
  margin-bottom: 25px;
}

.text-field {
  height: 45px;
  text-align: center;
  margin-top: 15px;
}

.save-the-date {
  color: #002d67;
}

.heading {
  margin-bottom: 0;
}

.parallax-image {
  z-index: -100;
  background-image: url('../images/vr-agrartage-2021-key.jpg');
  background-position: 50% 14%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.agenda {
  background-color: #fff;
  padding: 20px 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.agenda.box {
  padding-bottom: 20px;
}

.uhrzeit {
  color: #fff;
  background-color: #f60;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-weight: 700;
  display: inline-block;
}

.agenda-titel {
  color: #0066b3;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}

.agenda-block {
  margin-bottom: 20px;
}

.agenda-block.lst {
  margin-bottom: 0;
}

.accordion-block {
  max-width: 960px;
  margin: 25px auto 40px;
}

.accordion-item-wrapper {
  max-width: 100%;
  background-color: #fff;
  margin-bottom: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.accordion-tab-button {
  cursor: pointer;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  font-size: 18px;
  transition: background-color .2s;
  display: block;
  position: relative;
}

.accordion-arrow {
  width: 25px;
  float: right;
  opacity: 1;
  position: absolute;
  top: 17px;
  bottom: auto;
  left: auto;
  right: 20px;
}

.title-accordion {
  color: #0066b3;
  padding-right: 50px;
  font-family: Frutigervr;
  font-size: 16px;
  font-weight: 700;
}

.accordion-pane {
  background-color: #fff;
  overflow: hidden;
}

.accordion-pane-content {
  margin-left: 25px;
  margin-right: 50px;
  padding-top: 0;
  padding-bottom: 10px;
}

.list {
  color: #0066b3;
  margin-top: 10px;
}

.grey-text {
  color: #707070;
}

.link {
  color: #f60;
}

.white {
  color: #fff;
}

.grid-speaker {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

.speaker {
  cursor: pointer;
  background-color: #fff;
  flex-direction: column;
  padding: 20px;
  transition: all .2s;
  display: block;
  transform: translate(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.speaker:hover {
  transform: scale(.97);
}

.speaker-img {
  width: 120px;
  height: 120px;
  color: #fff;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.speaker-img.blue {
  background-color: #0066b3;
}

.name {
  color: #0066b3;
  font-size: 16px;
  font-weight: 700;
}

.speaker-top {
  margin-bottom: 10px;
}

.link-info {
  width: 160px;
  text-align: center;
  background-image: url('../images/link-arrow-icon_1link-arrow-icon.png');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 25px;
  flex: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 30px;
  line-height: 30px;
  display: block;
}

.close-pop-up {
  cursor: pointer;
  background-image: url('../images/002-cancel_1002-cancel.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 37px;
  transition: color .2s;
  position: absolute;
  top: 20px;
  bottom: auto;
  left: auto;
  right: 20px;
}

.close-pop-up:hover {
  color: #707070;
}

.pop-up-oliver-knab {
  z-index: 2100;
  background-color: rgba(0, 102, 179, .9);
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: scroll;
}

.titel {
  color: #707070;
  font-weight: 400;
}

.namebox {
  align-self: center;
}

.modal {
  z-index: 2001;
  height: auto;
  max-width: 960px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  top: 100px;
  overflow: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.title {
  color: #0066b3;
  margin-bottom: 0;
  display: inline-block;
}

.left-speaker-info-block {
  background-color: #e9e9e9;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding: 100px 40px;
  display: flex;
}

.grid-speaker-detail {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  padding-top: 0;
}

.kontakt {
  margin-bottom: 5px;
  font-family: Frutigervr;
  font-weight: 700;
}

.speaker-info-text {
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 99px 40px;
  display: block;
}

.kotankt-block {
  align-self: flex-start;
  margin-top: 40px;
  display: none;
}

.pop-up-dr-alfred-w-strigl, .pop-up-rolf-bauch, .pop-up-thomas-karle {
  z-index: 2100;
  background-color: rgba(0, 102, 179, .9);
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: scroll;
}

.div-block {
  flex: 0 auto;
  align-self: flex-start;
}

.bold {
  font-weight: 700;
}

.speaker-img-teaser {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.speaker-img-teaser.border {
  border: 1px solid #707070;
}

.speaker-img-teaser.icon-user {
  width: 40px;
  height: 40px;
}

.speaker-img-teaser.with-icon {
  color: #fff;
  background-color: #0066b3;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-innen-16 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.arrow-right {
  width: 50px;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 102, 178, .01), #0066b3 47%);
  top: 0%;
  bottom: 0%;
  left: auto;
  right: -36px;
}

.carousel-mask {
  width: 33.33%;
  overflow: visible;
}

.button-holder {
  align-self: stretch;
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-slider {
  padding-left: 14px;
  padding-right: 14px;
}

.carousel {
  width: 100vw;
  height: 400px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: flex-end;
  align-items: center;
}

.carousel.is_contained {
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
  padding-bottom: 0;
  overflow: visible;
}

.arrow-left {
  width: 50px;
  height: 100%;
  color: #9c63ff;
  background-image: linear-gradient(to right, #0066b3 63%, rgba(0, 102, 178, .1));
  top: 0%;
  bottom: 0%;
  left: -36px;
  right: auto;
}

.speaker-block {
  min-height: 260px;
  text-align: left;
  cursor: pointer;
  background-color: #fff;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  padding: 20px 0;
  transition: all .2s;
  display: flex;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.speaker-block:hover {
  transform: scale(.97);
}

.felx-product {
  flex: auto;
  align-self: center;
  margin-bottom: 20px;
}

.slide-nav {
  display: none;
}

.icon {
  color: #fff;
  font-size: 30px;
}

.icon-2 {
  font-size: 30px;
}

.div-block-4 {
  align-self: flex-start;
}

.hidden {
  display: none;
}

.grid-speaker-3 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

.div-block-9 {
  flex: 1;
}

.video {
  max-width: 720px;
  border: 1px solid rgba(112, 112, 112, .3);
  border-radius: 5px;
  margin: 25px auto;
  padding: 8px;
  position: relative;
}

.date {
  float: left;
  clear: left;
  color: #fff;
  background-color: #f60;
  margin-bottom: 5px;
  padding: 5px 10px;
  font-weight: 700;
  display: inline-block;
}

.termin-titel {
  float: none;
  clear: left;
  color: #0066b3;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  top: 5px;
}

.image {
  margin-bottom: 31px;
}

.grid {
  max-width: 800px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.youtube {
  margin-bottom: 0;
  display: block;
}

.pop-up-dui-do-on-de-sell, .pop-up-judtih-landes, .pop-up-britta, .pop-up-christine-wunsch, .pop-up-stefan-kerner {
  z-index: 2100;
  background-color: rgba(0, 102, 179, .9);
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: scroll;
}

.icon-speaker {
  width: 30px;
  border-radius: 100px;
}

.icon-speaker-big {
  width: 40px;
  border-radius: 100px;
}

.bold-blue {
  color: #0066b3;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
}

.list-2 {
  padding-left: 30px;
}

.div-block-10 {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .vr-mittelstndstag-2021-logo {
    bottom: -15%;
  }
}

@media screen and (min-width: 1440px) {
  .vr-mittelstndstag-2021-logo {
    max-width: 600px;
    display: block;
    bottom: -14%;
  }

  .arrow-right, .arrow-left {
    cursor: pointer;
  }
}

@media screen and (min-width: 1920px) {
  .vr-mittelstndstag-2021-logo {
    bottom: -14%;
  }
}

@media screen and (max-width: 991px) {
  .container.save {
    margin-top: 60px;
  }

  .hero {
    height: 400px;
  }

  .vr-mittelstndstag-2021-logo {
    max-width: 500px;
    bottom: -22%;
    left: 7%;
  }

  .parallax-image {
    background-size: cover;
  }

  .grid-speaker {
    grid-template-columns: 1.5fr 1fr;
  }

  .carousel-mask {
    width: 33.333%;
  }

  .carousel-slider {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .carousel.is_contained {
    margin-top: 15px;
  }

  .grid-speaker-3 {
    grid-template-columns: 1.5fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 39px;
  }

  h2 {
    font-size: 24px;
    line-height: 26px;
  }

  h3 {
    font-size: 16px;
    line-height: 23px;
  }

  .orange {
    line-height: 20px;
  }

  .container.save {
    margin-top: 50px;
  }

  .vr-logo {
    width: 180px;
  }

  .bwgv-logo {
    width: 85px;
    float: right;
  }

  .button {
    font-size: 16px;
    line-height: 23px;
  }

  .vr-mittelstndstag-2021-logo {
    max-width: 400px;
    bottom: -17%;
  }

  .footer-link {
    border-left-width: 0;
    border-right: 1px solid #fff;
    margin-left: 0;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 15px;
  }

  .footer-link.last {
    border-right-width: 0;
    margin-right: 0;
  }

  .parallax-image {
    background-position: 50%;
    background-size: cover;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .float-links {
    width: 100%;
    float: left;
    margin-top: 10px;
  }

  .uhrzeit {
    font-size: 12px;
    line-height: 14px;
  }

  .agenda-titel {
    font-size: 14px;
    line-height: 18px;
  }

  .title-accordion {
    font-size: 14px;
  }

  .accordion-pane-content {
    margin-right: 50px;
  }

  .grid-speaker {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .speaker-img {
    width: 100px;
  }

  .name {
    font-size: 14px;
  }

  .pop-up-oliver-knab {
    display: none;
  }

  .left-speaker-info-block {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .grid-speaker-detail {
    grid-template-columns: 1fr;
  }

  .speaker-info-text {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .kotankt-block, .div-block {
    align-self: flex-start;
  }

  .carousel-mask {
    width: 50%;
  }

  .speaker-block {
    padding-bottom: 20px;
  }

  .div-block-4, .div-block-5 {
    align-self: flex-start;
  }

  .grid-speaker-3 {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .date {
    font-size: 12px;
    line-height: 14px;
  }

  .termin-titel {
    font-size: 14px;
    line-height: 18px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .orange {
    font-size: 14px;
    line-height: 18px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container.save {
    margin-top: 60px;
  }

  .vr-logo {
    width: 140px;
  }

  .bwgv-logo {
    width: 68px;
    float: right;
  }

  .hero {
    height: 240px;
    background-position: 50% 100%;
    background-size: auto;
  }

  .vr-mittelstndstag-2021-logo {
    max-width: 250px;
    bottom: -18%;
  }

  .section {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .parallax-image {
    background-position: 37% 0;
    background-size: 250%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .accordion-pane-content {
    margin-right: 25px;
  }

  .carousel-mask {
    width: 100%;
  }
}

#w-node-_3e16c32d-420f-7a53-6459-f2370aa90a53-0aa90a4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_3e16c32d-420f-7a53-6459-f2370aa90a73-0aa90a4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_453412a3-2f11-457c-b1b2-e09cf627aa12-f627aa0e {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_453412a3-2f11-457c-b1b2-e09cf627aa1b-f627aa0e {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_5c889f9d-4198-179a-2628-1bc5f32c943a-f32c9436 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_5c889f9d-4198-179a-2628-1bc5f32c9446-f32c9436 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_85929306-a816-0906-47b7-e26ff5270a10-f5270a0c {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_85929306-a816-0906-47b7-e26ff5270a2f-f5270a0c {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_55a62f5d-2c66-a81f-5955-9874cd38bc48-cd38bc44 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_55a62f5d-2c66-a81f-5955-9874cd38bc51-cd38bc44 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_79117e63-2d6c-627e-cc88-5d1d0dda107d-0dda1079 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_79117e63-2d6c-627e-cc88-5d1d0dda109b-0dda1079 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_30df4604-1a95-2c66-c30a-3ca6b3409673-b340966f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_30df4604-1a95-2c66-c30a-3ca6b3409691-b340966f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_580d9cc1-f42e-a6ac-a286-85a75b1b05c8-5b1b05c4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_580d9cc1-f42e-a6ac-a286-85a75b1b05e6-5b1b05c4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_801b404c-aade-6fb9-5766-d1e426f2a82e-26f2a82a {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_801b404c-aade-6fb9-5766-d1e426f2a84c-26f2a82a {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-f859fe25-50fb-221a-ae0e-fb136ab7774e-8735e5ae, #w-node-f859fe25-50fb-221a-ae0e-fb136ab7775a-8735e5ae, #w-node-f859fe25-50fb-221a-ae0e-fb136ab77766-8735e5ae {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-afa5629d-e18d-46bc-01cf-7d8be353dcf0-8735e5ae, #w-node-de76e673-dcb3-552f-707a-e2d9633ddeec-8735e5ae, #w-node-_6220ad05-1ae6-c380-4fc4-b8f0974d1a5a-8735e5ae, #w-node-_5e9fc1ab-e2bb-029f-5f5b-5d29e8dbf16f-8735e5ae, #w-node-bcb1ea84-f094-0ae1-16fe-86ffd28364b8-8735e5ae, #w-node-_2db1b0f1-eb92-7942-bd2d-94e554433bf2-8735e5ae, #w-node-_22a26b41-ee01-2927-dce4-09e4656180d9-8735e5ae {
  align-self: auto;
}

@media screen and (max-width: 767px) {
  #w-node-_3e16c32d-420f-7a53-6459-f2370aa90a53-0aa90a4f, #w-node-_453412a3-2f11-457c-b1b2-e09cf627aa12-f627aa0e, #w-node-_5c889f9d-4198-179a-2628-1bc5f32c943a-f32c9436, #w-node-_85929306-a816-0906-47b7-e26ff5270a10-f5270a0c {
    justify-self: stretch;
  }
}


@font-face {
  font-family: 'GenosGFG';
  src: url('../fonts/GenosGFG-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GenosGFG';
  src: url('../fonts/GenosGFG-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GenosGFG';
  src: url('../fonts/GenosGFG-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GenosGFG';
  src: url('../fonts/GenosGFG-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GenosGFG';
  src: url('../fonts/GenosGFG-Condensed.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}